 
.open-sans-<uniquifier> {
  font-family: "Lato", sans-serif , ;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
     font-family: "Open Sans", sans-serif;
     padding: 0px;
     margin: 0px;
}

 

  .header-banner{
    background-color: #f3dcda;
    display: flex;
    height: 410px;

    justify-content: space-between;
    align-items: center;  /* 🔥 text + img vertically center */

    padding: 0 80px;
    gap: 40px;
}

.banner-text{
    width: 50%;
}

.banner-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; /* 🔥 image কে ডান পাশে সুন্দর করে */
    align-items: flex-end;   /* চাইলে bottom এ বসবে */
}

.banner-img img{
    width: 320px;      /* 🔥 ফুলের সাইজ control */
    height: auto;
}

.btn{
    background-color: #E55473;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
}

.feature-flowers{
    width: 594px;
   margin: auto;
   text-align: center;
   margin-top: 180px;
   align-items: center;
   justify-content: center;
}

.three-flower-row{
    display: flex;
    /* height: 500px; */
    width:1000px;
    align-items:flex-start;
    justify-content: space-between;
    border: 1px solid red;
    text-align: center;
    margin: auto;
    gap: 30px;
     
}

.three-flower-row img{
    width: 100%;
  height: 300px;          /* fixed height */
  object-fit: contain;    /* ছবি কাটবে না */
  display: block;
  margin: auto;
  padding: 10px;
}


.flower-card h4 {
  margin-top: 15px;
}


.imgOne{
    background-color: #ebc3d6;
    border-radius: 180px 180px 0 0;
    height: 310px;
    width: 300px;
   /* background-size: cover; */
   background-position: center;
   background-repeat: no-repeat;
   object-fit: contain;
}

.imgTwo{
    background-color: #abdfe2;
    border-radius: 180px 180px 0 0;
   height: 310px;
    width: 300px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   object-fit: contain;
}

.imgThree{
    background-color: #c4d1b6;
    border-radius: 180px 180px 0 0;
    height: 310px;
    width: 300px;
   /* background-size: cover; */
   background-position: center;
   background-repeat: no-repeat;
   object-fit: contain;
}